<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="springContextHolder" class="vertx.core.SpringContextHolder"></bean>

  <import resource="spring-vertx-config.xml"/>
  <import resource="spring-consumer.xml"/>

</beans>
